<div class="diagram-container">
  <div class="back-button" (click)="openView('mvc-control')">
    <svg width="48" height="36" viewBox="0 0 48 36" fill="none">
      <path d="M20 18L10 26L20 34" stroke="var(--color-element)" stroke-width="3" stroke-linecap="round"
            stroke-linejoin="round"/>
      <line x1="10" y1="26" x2="44" y2="26" stroke="var(--color-element)" stroke-width="2" stroke-linecap="round"/>
    </svg>
  </div>

  <div class="mvc-edit-block">
    <div class="date-header">
      {{ day }}
    </div>
    <div class="mvc-edit-container">
      <div class="left-block">

        @if (isLoading) {
          <div class="loader-container">
            <div class="spinner">
              <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
        } @else {
          @if (notFound) {
            <div class="no-data-message">
              <h3>Журнал за {{ day }} не знайдено</h3>
              <p>Ви можете створити нові уставки, завантаживши Excel-файл праворуч.</p>
            </div>
          }@else if (setPointToday) {
            <div class="header-block">

              <div class="receivedAt">
                <span>Журнал змінено о: {{ convertUtcToKyiv(setPointToday.updatedAt) }} </span>
              </div>

              <div class="updateAt">
                <svg class="icon pulse" viewBox="0 0 24 24">
                  <path
                    d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                </svg>
                <span> {{ convertUtcToKyiv(setPointToday.receivedAt, 'short') }} </span>
              </div>
              <div class="button-update">
                <button class="icon-btn refresh" (click)="loadData()">
                  <svg viewBox="0 0 24 24">
                    <path
                      d="M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z"/>
                  </svg>
                </button>
              </div>
              <div class="edit">
                <button class="icon-btn edit" (click)="showEditPanel(setPointToday)">
                  <svg viewBox="0 0 24 24">
                    <path
                      d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                  </svg>
                </button>
              </div>
              <div class="delete">
                <button class="icon-btn delete" (click)="onDeleteJournal(day)">
                  <svg viewBox="0 0 24 24">
                    <path
                      d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
                  </svg>
                </button>
              </div>
            </div>

            <div class="table-wrapper">
              <table class="setpoints-table">
                <thead>
                <tr>
                  <th>Час</th>
                  <th>Мережа</th>
                  <th>Сценарій</th>
                  <th>Напрямок PV</th>
                  <th>PV</th>
                  <th>BESS1 з</th>
                  <th>BESS1</th>
                  <th>BESS2 з</th>
                  <th>BESS2</th>
                </tr>
                </thead>

                <tbody>
                  @for (item of setPointToday.data; track item.startTime) {
                    <tr [class.active-interval]="isIntervalActive(item)"
                        [class.active-modify-interval]="isIntervalModifyActive(item)">
                      <td>{{ getLocalTime(item.startTime) }} – {{ getLocalTime(item.endTime) }}</td>
                      <td>
                        <i class="fa-solid fa-arrow-up arrow-up"></i>: {{ item.dischargeToGrid }}<br>
                        <i class="fa-solid fa-arrow-down arrow-down"></i>: {{ item.chargeFromGrid }}
                      </td>
                      <td> {{ item.scenario }}</td>
                      <td>{{ getPvMode(item.pvMode) }}</td>
                      <td>
                        {{ item.pv }}
                      </td>
                      <td>
                        {{ getBessChargeSource(item.bess1ChargeSource) }}
                      </td>
                      <td>
                        <i class="fa-solid fa-arrow-up arrow-up"></i>: {{ item.bess1Discharge }}<br>
                        <i class="fa-solid fa-arrow-down arrow-down"></i>: {{ item.bess1Charge }}
                      </td>
                      <td>
                        {{ getBessChargeSource(item.bess2ChargeSource) }}
                      </td>
                      <td>
                        <i class="fa-solid fa-arrow-up arrow-up"></i>: {{ item.bess2Discharge }}<br>
                        <i class="fa-solid fa-arrow-down arrow-down"></i>: {{ item.bess2Charge }}
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          }
        }

      </div>
      <div class="right-block">
        <h3>Excel імпорт</h3>


        <!--        <button class="btn-secondary" (click)="downloadFile()">-->
        <!--          Завантажити поточний Excel-->
        <!--        </button>-->


        <div class="upload-dropzone"
             (dragover)="onDragOver($event)"
             (dragleave)="onDragLeave($event)"
             (drop)="onDrop($event)"
             [class.dragover]="isDragOver">

          @if (!selectedFile) {

            Перетягніть файл Excel сюди або виберіть вручну <br>
            <button class="btn-secondary" (click)="fileInput.click()">Вибрати файл</button>
            <input type="file" #fileInput (change)="onFileSelected($event)" accept=".xlsx,.xls,.xlsm" hidden/>

          } @else {

            <div class="file-info">
              <span class="file-name">{{ selectedFile.name }}</span>
              <span class="remove-file" (click)="removeFile()">&#10005;</span>
            </div>

          }
        </div>

        <button class="btn-primary" (click)="uploadFile()" [disabled]="!selectedFile">
          Завантажити на сервер
        </button>

      </div>
    </div>

  </div>
</div>
