<div class="container">
  <h2 mat-dialog-title>Коригування журнала</h2>

  <mat-dialog-content>
    <div class="date">
      <strong>Дата:</strong> {{ data.date }}
    </div>

    <table class="preview-table">
      <thead>
      <tr>
        <th>Початок</th>
        <th>Кінець</th>
        <th>Пріор. мережа</th>
        <th>Заряд з мережі</th>
        <th>Розряд в мережу</th>
        <th>Пріор. Pv</th>
        <th>PV</th>
        <th>Пріор. Bess</th>
        <th>B1 Charge</th>
        <th>B1 Discharge</th>
        <th>B2 Charge</th>
        <th>B2 Discharge</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        @for (row of localData; track $index) {
          <tr [class.active-interval]="isIntervalActive(row)"
              [class.active-modify-interval]="isIntervalModifyActive(row)"
              [class.row-locked]="isIntervalModifyActive(row)">
            <td>{{ convertUtcToKyiv(row.startTime) }}</td>
            <td>{{ convertUtcToKyiv(row.endTime) }}</td>

            <td class="clickable-cell"
                [class.cell-disabled]="isIntervalModifyActive(row)"
                tabindex="0"
                (click)="!isIntervalModifyActive(row) && toggleBoolean(row, 'priorityGrid', $index)"
                (keydown.enter)="!isIntervalModifyActive(row) && toggleBoolean(row, 'priorityGrid', $index)">
              <strong>{{ row.priorityGrid ? 'Так' : 'Ні' }}</strong>
            </td>

            <td>
              <input type="number" [(ngModel)]="row.chargeFromGrid"
                     [disabled]="isIntervalModifyActive(row)"
                     (focus)="onFocus(row, 'chargeFromGrid')"
                     (change)="onNumberChange(row, 'chargeFromGrid', $index)"
                     class="number-input" step="100">
            </td>

            <td>
              <input type="number" [(ngModel)]="row.dischargeToGrid"
                     [disabled]="isIntervalModifyActive(row)"
                     class="number-input" step="100">
            </td>

            <td class="clickable-cell"
                [class.cell-disabled]="isIntervalModifyActive(row)"
                tabindex="0"
                (click)="!isIntervalModifyActive(row) && toggleBoolean(row, 'priorityPv', $index)"
                (keydown.enter)="!isIntervalModifyActive(row) && toggleBoolean(row, 'priorityPv', $index)">
              <strong>{{ row.priorityPv ? 'Так' : 'Ні' }}</strong>
            </td>

            <td><input type="number" [(ngModel)]="row.pv" [disabled]="isIntervalModifyActive(row)" class="number-input">
            </td>

            <td class="clickable-cell"
                [class.cell-disabled]="isIntervalModifyActive(row)"
                tabindex="0"
                (click)="!isIntervalModifyActive(row) && toggleBoolean(row, 'priorityBess', $index)"
                (keydown.enter)="!isIntervalModifyActive(row) && toggleBoolean(row, 'priorityBess', $index)">
              <strong>{{ row.priorityBess ? 'Так' : 'Ні' }}</strong>
            </td>

            <td>
              <input type="number"
                     [(ngModel)]="row.bess1Charge"
                     [disabled]="isIntervalModifyActive(row)"
                     (focus)="onFocus(row, 'bess1Charge')"
                     (change)="onNumberChange(row, 'bess1Charge', $index)"
                     class="number-input">
            </td>
            <td>
              <input type="number"
                     [(ngModel)]="row.bess1Discharge"
                     [disabled]="isIntervalModifyActive(row)"
                     (focus)="onFocus(row, 'bess1Discharge')"
                     (change)="onNumberChange(row, 'bess1Discharge', $index)"
                     class="number-input">
            </td>
            <td>
              <input type="number"
                     [(ngModel)]="row.bess2Charge"
                     [disabled]="isIntervalModifyActive(row)"
                     (focus)="onFocus(row, 'bess2Charge')"
                     (change)="onNumberChange(row, 'bess2Charge', $index)"
                     class="number-input">
            </td>
            <td>
              <input type="number"
                     [(ngModel)]="row.bess2Discharge"
                     [disabled]="isIntervalModifyActive(row)"
                     (focus)="onFocus(row, 'bess2Discharge')"
                     (change)="onNumberChange(row, 'bess2Discharge', $index)"
                     class="number-input">
            </td>

            <td>
              @if (isIntervalModify(row)) {
                <button class="icon-btn delete" (click)="deleteJournalInterval($index)">
                  <svg viewBox="0 0 24 24">
                    <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
                  </svg>
                </button>
              } @else {
                <button class="icon-btn delete-green" (click)="deleteJournalInterval($index)">
                  <svg viewBox="0 0 24 24">
                    <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
                  </svg>
                </button>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    @if (undoStack.length > 0) {
      <span style="color: gray; margin-right: auto; font-size: 12px;">
      Натисніть Ctrl+Z, щоб повернути видалене
    </span>
    }
    <button mat-button (click)="onCancel()">Відмінити</button>
    <button
      mat-raised-button
      color="primary"
      (click)="onConfirm()"
      [disabled]="isSending"
    >
      {{ isSending ? 'Збереження...' : 'Підтвердити' }}
    </button>
  </mat-dialog-actions>


</div>
