:host {
  display: block;
  background-color: var(--color-background);
  color: var(--color-element);
}


.preview-table {
  width: auto;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 10px;
  font-size: 14px;
  color: var(--color-element);
}

.preview-table th,
.preview-table td {
  border: 1px solid var(--color-element);
  text-align: center;
  white-space: nowrap;
  padding: 5px;
}

.preview-table th {
  /*background: var(--color-element);*/
  font-weight: bold;
}

.date {
  margin-bottom: 10px;
  font-size: 16px;
  color: var(--color-element);
}

.container h2 {
  color: var(--color-element);
}

.icon-btn.delete:hover {
  background: rgba(255, 0, 0, 0.2); /* Червоний фон при наведенні */
  color: #ff8a80; /* Світло-червоний колір іконки */
  /*transform: translateY(-3px) scale(1.08);*/
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

.icon-btn.delete-green:hover {
  background: rgba(34, 255, 0, 0.2); /* Червоний фон при наведенні */
  color: #7ce16c; /* Світло-червоний колір іконки */
  /*transform: translateY(-3px) scale(1.08);*/
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

.icon-btn {
  width: 40px;
  height: 40px;
  border: none;
  /*background: rgba(255, 255, 255, 0.08);*/
  color: var(--color-element);
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease;
  backdrop-filter: blur(10px);
}

tr.active-interval {
  animation: glow 3s ease-in-out infinite alternate;
  box-shadow: inset 0 0 10px rgba(76, 192, 175, 192);
  border-radius: 5px;
}

tr.active-modify-interval{
  box-shadow: inset 0 0 10px rgb(192, 76, 111);
}

.number-input {
  width: 90px;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.number-input:focus {
  outline: none;
  border-color: #3f51b5;
  box-shadow: 0 0 0 2px rgba(63, 81, 181, 0.2);
}

.clickable-cell {
  cursor: pointer;
  user-select: none;
  padding: 8px;
  text-align: center;
  transition: background-color 0.2s;
  border-radius: 4px;
}

.clickable-cell:hover {
  background-color: #e3f2fd;
}

.clickable-cell strong {
  font-weight: 600;
  color: #1976d2;
}

.row-locked {
  background-color: rgba(0, 0, 0, 0.03); /* Легке сіре тло */
}

/* Стиль для інпутів у заблокованому рядку */
.number-input:disabled {
  background-color: transparent;
  border-color: transparent;
  color: #666;
  cursor: not-allowed;
}

/* Вимикаємо курсор "рука" для логічних комірок */
.cell-disabled {
  cursor: not-allowed !important;
  opacity: 0.6;
}

/* Кнопка видалення має працювати завжди, тому для неї курсор залишаємо */
.row-locked .icon-btn {
  cursor: pointer;
  opacity: 1;
}
