<div class="diagram-container">
  <div class="back-button" (click)="openView('main')">
    <svg width="48" height="36" viewBox="0 0 48 36" fill="none">
      <path d="M20 18L10 26L20 34" stroke="var(--color-element)" stroke-width="3" stroke-linecap="round"
            stroke-linejoin="round"/>
      <line x1="10" y1="26" x2="44" y2="26" stroke="var(--color-element)" stroke-width="2" stroke-linecap="round"/>
    </svg>
  </div>
  <div class="main">
    <div class="control-panel">
      <div class="panel-header">
        <h2>Налаштування режиму роботи</h2>
      </div>

      <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()" class="settings-grid">


        <div class="setting-row">
          <div class="setting-label">Режим роботи</div>
          <div class="setting-input-select">
            <select formControlName="workMode">
              @for (mode of workModes; track mode.value) {
                <option [value]="mode.value">{{ mode.label }}</option>
              }
            </select>
          </div>
        </div>

        <div class="setting-row priority">
          <div class="setting-label">Пріоритет мережа</div>
          <div class="setting-input">
            <label class="checkbox-wrapper large">
              <input type="checkbox" formControlName="priorityGrid">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>


        <!-- Видача в мережу -->
        <div class="setting-row">
          <div class="setting-label">Видача в мережу, кВт</div>
          <i class="fa-solid fa-arrow-up arrow-up"></i>
          <div class="setting-input">
            <input type="number" formControlName="dischargeToGrid" placeholder="0" min="0" step="1">
          </div>
        </div>

        <!-- Заряд з мережі -->
        <div class="setting-row">
          <div class="setting-label">Заряд з мережі, кВт</div>
          <i class="fa-solid fa-arrow-down arrow-down"></i>
          <div class="setting-input">
            <input type="number" formControlName="chargeFromGrid" placeholder="0" min="0" step="1">
          </div>
        </div>

        <div class="setting-row priority">
          <div class="setting-label">Позитивні небаланси</div>
          <div class="setting-input">
            <label class="checkbox-wrapper large">
              <input type="checkbox" formControlName="imbalances">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>


        <!-- Пріоритет PV -->
        <div class="setting-row priority">
          <div class="setting-label">Пріоритет PV</div>
          <div class="setting-input">
            <label class="checkbox-wrapper large">
              <input type="checkbox" formControlName="priorityPv">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>

        <!-- Уставка PV -->
        <div class="setting-row">
          <div class="setting-label">Уставка PV, кВт</div>
          <div class="setting-input">
            <input type="number" formControlName="pv" placeholder="0" min="0" step="0.1">
          </div>
        </div>

        <!-- Пріоритет BESS -->
        <div class="setting-row priority">
          <div class="setting-label">Пріоритет BESS</div>
          <div class="setting-input">
            <label class="checkbox-wrapper large">
              <input type="checkbox" formControlName="priorityBess">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
        <!-- BESS1 -->
        <div class="setting-row bess">

          <div class="setting-label">Уставка BESS1, кВт</div>
          <div class="setting-input dual">
            <div class="input-group">
              <i class="fa-solid fa-arrow-down arrow-down"></i>
              <input
                type="number"
                formControlName="bess1Charge"
                class="main"
                placeholder="0"
                max="0">
            </div>
            <div class="input-group">
              <i class="fa-solid fa-arrow-up arrow-up"></i>
              <input
                type="number"
                formControlName="bess1Discharge"
                class="main"
                placeholder="0"
                min="0">
            </div>
          </div>
        </div>

        <!-- BESS2 -->
        <div class="setting-row bess">
          <div class="setting-label">Уставка BESS2, кВт</div>
          <div class="setting-input dual">
            <div class="input-group">
              <i class="fa-solid fa-arrow-down arrow-down"></i>
              <input
                type="number"
                formControlName="bess2Charge"
                class="main"
                placeholder="0"
                max="0">
            </div>
            <div class="input-group">
              <i class="fa-solid fa-arrow-up arrow-up"></i>
              <input
                type="number"
                formControlName="bess2Discharge"
                class="main"
                placeholder="0"
                min="0">
            </div>
          </div>
        </div>


        <div class="panel-actions">
          <button class="btn-primary">Застосувати</button>
          <button class="btn-secondary" (click)="resetForm()">Скинути</button>
        </div>
      </form>
    </div>

    <div class="result-block">
      @if (daysJournal) {
        @for (day of daysJournal; track $index) {
          <div class="day-block">

            <div class="header-card-day">
              <!-- Левая часть: дата + статус -->
              <div class="header-left">
                <div class="day-title">{{ day.date }}</div>
              </div>

              <!-- Правая часть: кнопки -->
              <div class="header-right">
                <div class="status-bar">
                  @if (day.updatedAt) {
                    <div class="status">
                      <span>Журнал змінено о: {{ convertUtcToKyiv(day.updatedAt) }}</span>
                    </div>
                  }
                </div>
                @if ($index === 0) {
                  <div class="status live">
                    <svg class="icon pulse" viewBox="0 0 24 24">
                      <path
                        d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                    {{ convertUtcToKyiv(day.receivedAt, 'short') }}
                  </div>
                  <button class="icon-btn refresh" (click)="loadData()" title="Оновити">
                    <svg viewBox="0 0 24 24">
                      <path
                        d="M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z"/>
                    </svg>
                  </button>
                }

                <button class="icon-btn edit" (click)="openView('mvc-edit-day', day.date)" title="Редагувати">
                  <svg viewBox="0 0 24 24">
                    <path
                      d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                  </svg>
                </button>
              </div>
            </div>

            @if (!isLoading) {
              <div class="loader-container">
                <div class="spinner">
                  <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </div>
              </div>
            } @else if (day.data.length === 0) {
              <div class="empty-state">
                <div class="empty-text">Немає журналу за цей день</div>
              </div>
            } @else {
              <!-- Таблица дня -->
              <table class="day-table">
                <thead>
                <tr>
                  <th>Час</th>
                  <th>Grid*</th>
                  <th>Мережа</th>
                  <th>PV*</th>
                  <th>PV</th>
                  <th>Небал.</th>
                  <th>BESS*</th>
                  <th>BESS1</th>
                  <th>BESS2</th>
                  <th></th>
                </tr>
                </thead>

                <tbody #dayTableBody>
                  @for (item of day.data; track item) {
                    <tr
                      [class.active-interval]="isIntervalActive(item)"
                      [class.active-modify-interval]='isIntervalModifyActive(item)'
                    >
                      <!-- TIME -->
                      <td>
                        @if (item.startTime && item.endTime) {
                          {{ getLocalTime(item.startTime) }} - {{ getLocalTime(item.endTime) }}
                        }
                      </td>

                      <td>
                        {{ item.priorityGrid ? 'Так' : 'Ні' }}
                      </td>

                      <!-- GRID -->
                      <td class="grid-cell">
                        <span>
                        <i class="fa-solid fa-arrow-up arrow-up"></i>: {{ item.dischargeToGrid }}
                      </span> <br>
                        <span>
                        <i class="fa-solid fa-arrow-down arrow-down"></i>: {{ item.chargeFromGrid }}
                      </span>

                      </td>

                      <!-- PRIORITY -->
                      <td>{{ item.priorityPv ? 'Так' : 'Ні' }}</td>

                      <!-- PV -->
                      <td>{{ item.pv }}</td>

                      <!-- IMBALANCES -->
                      <td>
                        @if (item.imbalances) {
                          Так
                        } @else {
                          Ні
                        }
                      </td>

                      <td>{{ item.priorityBess ? 'Так' : 'Ні' }}</td>

                      <!-- BESS1 -->
                      <td>
                        <i class="fa-solid fa-arrow-up arrow-up"></i>: {{ item.bess1Discharge }}<br>
                        <i class="fa-solid fa-arrow-down arrow-down"></i>: {{ item.bess1Charge }}
                      </td>

                      <!-- BESS2 -->
                      <td>
                        <i class="fa-solid fa-arrow-up arrow-up"></i>: {{ item.bess2Discharge }}<br>
                        <i class="fa-solid fa-arrow-down arrow-down"></i>: {{ item.bess2Charge }}
                      </td>

                      <td>
                        @if(isIntervalModifyActive(item)){
                          <button class="icon-btn delete" (click)="onDeleteModifyRange(day.date)">
                            <svg viewBox="0 0 24 24">
                              <path
                                d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
                            </svg>
                          </button>
                        }
                      </td>



                    </tr>
                  }
                </tbody>

              </table>
            }

          </div>
        }
      }
    </div>
  </div>

</div>
