:host {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-background);
  overflow: hidden;
}

.diagram-container {
  width: 100%;
  height: 100%;
  padding-top: 65px;
}

.back-button {
  position: absolute;
  top: 16px;
  left: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}

