<div class="diagram-container">
  <div class="back-button" (click)="openView('main')">
    <svg width="48" height="36" viewBox="0 0 48 36" fill="none">
      <!-- Стрелка влево -->
      <path d="M18 18L10 10L18 2"
            stroke="var(--color-element)"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"/>
      <!-- Линия от вершины стрелки вправо -->
      <line x1="10" y1="10" x2="44" y2="10"
            stroke="var(--color-element)"
            stroke-width="2"
            stroke-linecap="round"/>
    </svg>
  </div>

</div>
