:host {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-background);
  overflow: hidden;
}

.diagram-container {
  width: 100%;
  height: 100%;
  padding-top: 65px;
}

.back-button {
  position: absolute;
  top: 16px;
  left: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.top-layout {
  display: flex;
  width: 100%;
  height: 450px;
  gap: 8px;
  flex: 1;
}

.left-block {
  width: 15%;
  background: var(--rect-color);
  border-radius: 12px;
  position: relative;
  /*overflow: hidden;*/
}

.full-svg {
  position: absolute;
  /*top: 0; left: 0;*/
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.right-block {
  flex: 1;
  background: var(--rect-color);
  border-radius: 12px;
  min-height: 0;
}

.bottom-block {
  margin-top: 5px;
  width: 100%;
  background: var(--rect-color);
  border-radius: 12px;
  height: 50px;
}

.satec-card {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--color-element);
  font-family: 'Segoe UI', sans-serif;
}

.satec-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}

.satec-status.ok { color: #4ade80; }
.satec-status { color: #ef4444; font-weight: bold; }

.satec-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  font-size: 18px;
  font-weight: 500;
}

.satec-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 12px;
  background: var(--rect-color-shadow);
  border-radius: 8px;
}


.satec-info{
  display: flex;
  gap: 20px;
  align-items: stretch;
  flex: 1;
  min-height: 0;

}


.satec-u-line{
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.satec-phases {
  display: flex;
  gap: 20px;
}

.phase-card {
  background: var(--rect-color-shadow);
  border-radius: 12px;
  padding: 10px;
  /*backdrop-filter: blur(10px);*/
  border: 1px solid rgba(255,255,255,0.08);
  color: var(--color-element);
  transition: all .25s ease;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.line-card{
  background: var(--rect-color-shadow);
  border-radius: 12px;
  padding: 10px;
  border: 1px solid rgba(255,255,255,0.08);
  color: var(--color-element);
  transition: all .25s ease;
  width: 100%;

}

.phase-card:hover {
  background: rgba(255,255,255,0.08);
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.phase-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

.phase-title {
  font-size: 18px;
  font-weight: 700;
}

.phase-cos {
  font-size: 15px;
  font-weight: 600;
  opacity: 0.9;
}


.phase-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1px;
  /*column-gap: 12px;*/
  font-size: 16px;
}

.line-card-header{
  display: flex;
  margin-right: 10px;
}

.row {
  display: contents;
}

.label {
  color: var(--rect-color-label);
  font-weight: 500;
}

.value {
  text-align: right;
  font-weight: 600;
  color: var(--color-element);
}


.satec-errors {
  flex: 1;
  height: 70%;
  background: var(--rect-color-shadow);
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.08);
  color: var(--color-element);

}

.satec-errors-title{
  color: red;
}

/* А вот сам список должен скроллиться */
.satec-errors-list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;     /* вот тут появляется скролл */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
